@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;0,600;0,700;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

:root {
  --red: #6D010C;
  --white: #fff;
  --gray: #737373;
  --hover: #94000f;
}

body.lock {
  overflow: hidden;
}

.header__burger {
  display: none;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1330px;
  padding: 0 20px;
  margin: 0 auto;
  color: var(--white);
}

.main__bg {
  background: url("../img/second-BG.jpg") 0 0/cover no-repeat;
  background-position: center;
}

.header__bg {
  background: url("../img/header-bg.png") no-repeat;
  height: 100px;
  width: 100%;
  background-size: cover;
}
.header__container {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
}
.header__list {
  display: flex;
  margin-top: 13px;
}
.header__item:nth-child(4) {
  position: relative;
}
.header__item:nth-child(4):hover .header__sub-list {
  display: block;
}
.header__item:nth-child(2) {
  position: relative;
}
.header__item:nth-child(2):hover .header__sub-list {
  display: block;
}
.header__item:not(:last-child) {
  margin-right: 68px;
}
.header__link {
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
  transition: 0.4s ease-in-out;
  padding-bottom: 38px;
}
.header__link:hover {
  font-weight: 700;
  color: var(--red);
  border-bottom: 3px solid var(--red);
  border-radius: 1.5px 1.5px 0px 0px;
}
.header__sub-list {
  display: none;
  position: absolute;
  left: 0;
  top: 15px;
  padding: 35px 0 0 0;
}
.header__sub-item {
  padding: 13px 20px;
  width: 200px;
  background-color: #F0EFED;
  transition: 0.4s ease;
}
.header__sub-item:hover {
  background-color: #E4E3E2;
}
.header__sub-link {
  font-size: 13px;
  line-height: 15px;
  color: var(--gray);
}

.main__container {
  padding: 80px 20px;
}
.main__title {
  font-family: "Exo";
  font-weight: 500;
  font-size: 53px;
  line-height: 120%;
  color: var(--red);
  display: flex;
  align-items: center;
}

.offer__container {
  padding-top: 75px;
  padding-bottom: 80px;
}
.offer__title {
  font-family: Exo;
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  color: var(--red);
}
.offer__main-text {
  font-family: Exo;
  font-size: 24px;
  line-height: 140%;
  color: var(--gray);
  margin-top: 30px;
  max-width: 1070px;
}
.offer__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  flex-wrap: wrap;
}
.offer__img {
  margin-bottom: 22px;
}
.offer__sub-title {
  font-family: Exo;
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  color: var(--red);
}
.offer__text {
  font-size: 13px;
  line-height: 150%;
  color: var(--gray);
  margin-top: 12px;
  max-width: 234px;
}
.offer__link {
  font-size: 13px;
  line-height: 150%;
  color: #276DD7;
  display: inline-block;
  margin-top: 15px;
}

.about {
  background-color: #F5F5F5;
}
.about__container {
  padding-top: 52px;
}
.about__title {
  font-family: "Exo";
  font-weight: 400;
  font-size: 42px;
  line-height: 120%;
  text-align: center;
  color: var(--red);
}
.about__content {
  display: flex;
  justify-content: space-between;
  margin: 54px 0 30px 0;
  gap: 20px;
}
.about__text {
  font-size: 13px;
  line-height: 150%;
  color: #737373;
  max-width: 630px;
}
.about__text:not(:last-child) {
  margin-bottom: 20px;
}
.about__img {
  height: 688px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.social {
  background-color: var(--red);
}
.social__container {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
  gap: 20px;
}
.social__body {
  display: flex;
}
.social__title {
  font-family: Exo;
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  margin-right: 45px;
}
.social__tel {
  font-family: Exo;
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  color: var(--white);
  position: relative;
  padding-left: 41px;
}
.social__tel::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  background: url("../img/icon/phone-red.svg") no-repeat;
  width: 30px;
  height: 30px;
}
.social__block {
  display: flex;
  align-items: center;
}
.social__button {
  background: #590000;
  border-radius: 5px;
  width: 120px;
  padding: 12px 18px;
  text-transform: uppercase;
  margin-left: 60px;
  transition: 0.5s ease;
}
.social__button:hover {
  background-color: var(--hover);
}
.social__button span {
  font-size: 14px;
  line-height: 120%;
  color: var(--white);
}

.footer {
  background: url("../img/BG-02.jpg") no-repeat;
  background-size: cover;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 20px;
}
.footer__title {
  font-family: Exo;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #A60012;
  margin-bottom: 18px;
}
@media (max-width: 1024px) {
  .footer__title {
    text-align: center;
    margin-left: 0;
  }
}
.footer__about-text {
  font-style: italic;
  font-size: 13px;
  line-height: 170%;
  color: #9B9B9B;
  max-width: 330px;
}
@media (max-width: 1024px) {
  .footer__about-text {
    text-align: center;
  }
}
.footer__questions-block {
  position: relative;
  padding-top: -5px;
  padding-left: 40px;
  padding-top: 5px;
}
.footer__questions-block::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -40px;
  background: url("../img/icon/bigphone.svg") no-repeat;
  width: 69px;
  height: 69px;
}
.footer__questions-title {
  margin-left: -40px;
}
@media (max-width: 1024px) {
  .footer__questions-title {
    margin-left: 0;
  }
}
.footer__questions-text {
  font-style: italic;
  font-size: 13px;
  line-height: 155%;
  color: #9B9B9B;
}
.footer__questions-link {
  color: #276DD7;
}
.footer__geo-block {
  position: relative;
}
.footer__geo-block::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -70px;
  background: url("../img/icon/marker.svg") no-repeat;
  width: 44px;
  height: 69px;
}
.footer__geo-title {
  margin-left: -100px;
}
@media (max-width: 1024px) {
  .footer__geo-title {
    margin-left: 0;
  }
}
.footer__geo-text {
  max-width: 130px;
  font-style: italic;
  font-size: 13px;
  line-height: 170%;
  color: #9B9B9B;
}
.footer__geo-text span {
  color: #276DD7;
}

.footer-bottom__content {
  border-top: 1px solid #3B3B3B;
}
.footer-bottom__container {
  padding-top: 8px;
}
.footer-bottom__text {
  font-style: italic;
  font-size: 13px;
  line-height: 170%;
  text-align: center;
  color: #999999;
}
.footer-bottom__text span {
  color: #276DD7;
}

@media (max-width: 1300px) {
  .header__item:not(:last-child) {
    margin-right: 48px;
  }
}
@media (max-width: 1220px) {
  .header__item:not(:last-child) {
    margin-right: 35px;
  }
}
@media (max-width: 1024px) {
  .header__burger {
    display: block;
    position: absolute;
    z-index: 20;
    width: 30px;
    height: 18px;
    background-color: transparent;
    top: 47px;
    right: 40px;
    margin-left: 85px;
  }
  .header__burger span,
  .header__burger:before,
  .header__burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: var(--white);
  }
  .header__burger:before,
  .header__burger::after {
    content: "";
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header__burger.active span {
    transform: scale(0) translate(0px, -50%);
  }
  .header__burger.active::before {
    content: "";
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
    background-color: #000;
  }
  .header__burger.active::after {
    content: "";
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
    background-color: #000;
  }
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    transform: translateX(100%);
    transition: all 0.3s ease 0s;
    overflow: auto;
    z-index: 10;
  }
  .header__nav.active {
    transform: translateX(0);
  }
  .header__link {
    color: #000;
    font-size: 25px;
    line-height: 30px;
  }
  .header__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header__sub-list {
    width: 100%;
  }
  .offer__content:not(:last-child) {
    margin-bottom: 20px;
  }
  .social__title {
    font-size: 18px;
    margin-right: 20px;
  }
  .social__tel {
    font-size: 20px;
  }
  .social__tel::before {
    top: -2px;
  }
  .social__button {
    margin-left: 20px;
  }
  .footer__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px 20px 20px;
  }
  .footer__about {
    margin-bottom: 20px;
  }
  .footer__questions {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .main__container {
    padding: 30px 20px;
  }
  .about__content {
    margin-top: 25px;
  }
}
@media (max-width: 768px) {
  .social__container {
    flex-direction: column;
    text-align: center;
  }
  .social__body {
    flex-direction: column;
  }
  .social__title {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
@media (max-width: 414px) {
  .offer__container {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .about__content {
    display: block;
  }
  .social__tel-block {
    margin-bottom: 15px;
  }
}
@media (max-width: 320px) {
  .social__title {
    font-size: 14px;
  }
  .social__tel {
    font-size: 16px;
  }
  .footer__container {
    padding: 25px;
  }
}